

<div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-home"></i> <span>Shop Nhi!</span></a>
</div>
<div class="clearfix"></div>

<!-- menu prile quick info -->
<div class="profile">
    <div class="profile_pic">
        <img src="~/img/avata.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>sds</h2>
    </div>
</div>
<!-- /menu prile quick info -->

<br />