
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Vui lòng nhập mail đăng ký tài khoản</h2>
        @if (ViewBag.Error != null)
        {
            <p class="alert alert-danger">@ViewBag.Error</p>
        }
        <form class="form-inline" role="form" action="/quen-mat-khau" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email">
            </div>
            <button type="submit" class="btn btn-success">Gửi</button>
            <a href="/dang-nhap" class="btn btn-danger">Cancel</a>
        </form>
    </div>

</body>
</html>
