

@{
    List<Shop_Nhi.Models.Framework.Category> listCate = (List<Shop_Nhi.Models.Framework.Category>)ViewBag.CatePro;
}





<!-- product category -->      
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h2>Danh mục</h2>
                        <ul class="aa-catg-nav">
                            @foreach (var item in listCate.Where(x => x.parentID == null))
                            {
                                var child = listCate.Where(x => x.parentID == item.ID);
                                <li class="aa-catg-nav-item"><a href="/san-pham/@item.metatTitle-@item.ID" data-id="@item.ID">@item.name</a>
                            
                                @if (child.Count() > 0)
                                {
                                  <ul class="children" id="child_@item.ID">
                                      @foreach (var childItem in child)
                                      {
                                         <li class="catg-child"><a href="/san-pham/@childItem.metatTitle-@childItem.ID">@childItem.name</a></li>
                                      }                                  
                                </ul>
                                }
                            </li>
                            }          
                        </ul>
                    </div>
                
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h2>Tìm kiếm theo giá</h2>
                        <!-- price range -->
                        <div class="aa-sidebar-price-range">
                            <form action="">
                                <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                                <span id="skip-value-lower" class="example-val">30.00</span>
                                <span id="skip-value-upper" class="example-val">100.00</span>
                                <button class="aa-filter-btn" type="submit">Filter</button>
                            </form>
                        </div>

                    </div>


                    <div class="aa-sidebar-widget">

                        <h2>Fanpage</h2>
                        <iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/zuryshop&amp;width=230&amp;colorscheme=light&amp;show_faces=true&amp;connections=9&amp;stream=false&amp;header=false&amp;height=270" scrolling="no" frameborder="0" style="border: medium none; overflow: hidden; width:240px;height:270px;background:#fff;"> </iframe>
                    </div>

                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h2>Sản phẩm đặc trưng</h2>
                        <div class="aa-recently-views">
                            <ul>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h2>Sản phẩm xem nhiều</h2>
                        <div class="aa-recently-views">
                            <ul>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img" src="~/img/woman-small-2.jpg"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Váy đẹp nhất thế giới</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a href="#">Product Name</a></h4>
                                        <p>1 x $250</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Tags-->
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h2>Tags</h2>
                        <div class="tag-cloud">
                            <a href="#">Fashion</a>
                            <a href="#">Ecommerce</a>
                            <a href="#">Shop</a>
                            <a href="#">Hand Bag</a>
                            <a href="#">Laptop</a>
                            <a href="#">Head Phone</a>
                            <a href="#">Pen Drive</a>
                        </div>
                    </div>


                </aside>
            </div>


<!-- / product category -->