
<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>VẬN CHUYỂN TOÀN QUỐC</h4>
                            <p>Chúng tôi vận chuyển toàn quốc tất cả các tỉnh thành.</p>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-usd"></span>
                            <h4>GIÁ TỐT NHẤT</h4>
                            <p>Chúng tôi hân hạnh cung cấp tới quí vị giá tốt nhất thị trường.</p>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>HỖ TRỢ 24/7</h4>
                            <p>Chúng tôi luôn hỗ trợ khách hàng bất cứ khi nào.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->